<%= form_for(@part) do |f| %>
    <%= errors_for(@part) %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <br/>
      <%= f.text_field :price %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
    <div class="pt10">
      Please note the name of this part will be updated on any workorders using it
    </div>
<% end %>
