<%= form_for(@job) do |f| %>
    <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being added:</h2>

          <ul>
            <% @job.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :hours %>
      <br/>
      <%= f.text_field :hours %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
    <div class="pt10">
      Please note the name of this job will be updated on any workorders using it
    </div>
<% end %>
