<div class="head-under fl">Job List</div>
<%= link_to('New Job', new_job_path, class: 'ml10 fl') if can?(:create, Job) %>
<div class="reset"></div>
<%= render_paging %>
<table cellpadding="5" cellspacing="0" class="nice">
  <tr>
    <th><%= sortable(:name) %></th>
    <th>Hours</th>
    <th></th>
    <th></th>
  </tr>

  <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.name, job_path(job)) %></td>
        <td><%= job.hours %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to('Delete', job, method: :delete, data: {confirm: 'Are you sure?'}, method: :delete, class: 'delete') %></td>
      </tr>
  <% end %>
</table>
<% if @jobs.count > 14 %>
    <br/>
    <p style="text-align: center; color: #66B7E7; font-size: 18px"><a href="#top">Top</a></p>
<% end %>
