<div class="pb10">
  <%= link_to 'Edit', edit_job_path(@job) %>
  <%= link_to 'Delete', job_path(@job), data: {confirm: 'Are you sure?'}, method: :delete, class: 'delete' %>
</div>
<div class="box fl">
  <p><b>Name</b></p>
  <%= @job.name %>
</div>

<div class="box fl">
  <p><b>Time</b></p>
  <%= pluralize(@job.hours, 'Hour') rescue @job.hours %>
</div>

<div class="box fl">
  <p><b>Workorders using this job</b></p>
  <% @job.workorders.includes(:customer).each do |wo| %>
      <div style="padding: 2px 0;">
        <%= link_to "#{wo.customer.try(:name) || '[None]'} on #{wo.date}", edit_my_wo_path(wo) %>
      </div>
  <% end %>
</div>

<div class="c"></div>