<%= content_for(:head) do %>
    <%= javascript_include_tag :workorder_manifest %>
<% end %>
<%= errors_for(@workorder) %>
<div class="landscape-page">
  <%= form_for([@car, @workorder]) do |f| %>
      <%= render partial: 'workorder', locals: {f: f} %>

      <div class="fr pt10"><%= f.submit %></div>
      <div class="reset"></div>
  <% end %>
</div>