<% if @workorder.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@workorder.errors.count, "error") %> prohibited this work order from being saved:</h2>
      <ul>
        <% @workorder.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<div class="landscape-page">
  <%= form_for([@car, @workorder]) do |f| %>
      <%= render partial: 'workorder', locals: {f: f} %>

      <div class="fr pt10"><%= f.submit %></div>
      <div class="reset"></div>
  <% end %>
</div>
