<div class="parts-section fl center">
    <h1 class="company-name"><%= Constants::NAME %></h1>

    <div>
        <div class="street"><%= Constants::ADDRESS[:street] %></div>
        <div class="street2"><%= Constants::ADDRESS[:street2] %></div>
        <div class="city-state-zip"><%= Constants::ADDRESS[:city] + ', ' + Constants::ADDRESS[:state] + ' ' + Constants::ADDRESS[:zip] %></div>
        <div class="phone"><%= Constants::ADDRESS[:phone] %></div>
    </div>
</div>
<div class="job-section fl">
    <div class="wo-title">Auto Repair Order</div>
    <div>
        <table class="btable" cellpadding="0" cellspacing="0">
            <tr>
                <th width="65%"></th>
                <th width="35%"></th>
            </tr>
            <tr>
                <td>
                    <div class="fl">
                        Name
                    </div>
                    <div class="fl" style="width: 87%">
                        <%= f.fields_for(:car) { |cf| cf.fields_for(:customer) { |ccf| ccf.text_field(:name, class: 'center') } } %>
                    </div>
                </td>
                <td>
                    <div class="fl">
                        Date
                    </div>
                    <div class="fl" style="width: 75%">
                        <%= f.text_field(:date, class: 'num date-field') %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="fl">
                        Address
                    </div>
                    <div class="fl" style="width: 77%">
                        <%= f.fields_for(:car) { |cf| cf.fields_for(:customer) { |ccf| ccf.text_field(:street, class: 'center') } } %>
                    </div>
                </td>
                <td>
                    <div class="fl">
                        Phone
                    </div>
                    <div class="fl" style="width: 69%">
                        <%= f.fields_for(:car) { |cf| cf.fields_for(:customer) { |ccf| ccf.text_field(:phone_number, class: 'num') } } %>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="fl">
                        City, State
                    </div>
                    <div class="fl" style="width: 77%">
                        <%= f.fields_for(:car) { |cf| cf.fields_for(:customer) { |ccf| ccf.text_field(:city_state, class: 'center') } } %>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="reset pb10"></div>
<div class="parts-section fl">
    <table class="ctable" cellpadding="0" cellspacing="0">
        <tr>
            <th>Quantity</th>
            <th>Part Description</th>
            <th>Price</th>
        </tr>
        <%= f.fields_for(:workorder_parts) do |wo_part| %>
        <tr>
            <td width="20%"><%= wo_part.text_field(:quantity, class: 'num part-quantity') %></td>
            <td width="59%"><%= wo_part.fields_for(:part) { |part| part.text_field(:name) } %></td>
            <td width="20%"><%= wo_part.text_field(:price, class: 'num part-price') %></td>
        </tr>
        <% end %>
        <tr>
            <td colspan="2" class="num">Total Parts</td>
            <td>
                <%= f.text_field(:parts_total, name: 'total_parts', id: 'total_parts', class: 'num', disabled: true, style: 'height: 19px;') %>
            </td>
        </tr>
    </table>
</div>
<div class="job-section fl">

    <table class="ctable" cellpadding="0" cellspacing="0" style="border-left: none;">
        <tr>
            <th colspan="3">Vehicle Information</th>
        </tr>
        <tr>
            <td width="42%">
                <div class="extra-small">Year<span class="spacer">&sdot;</span>Make<span class="spacer">&sdot;</span>Model
                </div>
                <%= f.fields_for(:car) { |cf| cf.text_field(:year_make_model) } %>
            </td>
            <td width="20%">
                <div class="extra-small">Odometer</div>
                <%= f.text_field(:odometer) %>
            </td>
            <td width="38%" class="full">
                <div class="bb">
                    <span class="extra-small">VIN</span>
                    <%= f.fields_for(:car) { |cf| cf.text_field(:vin_number, style: 'width: 78%') } %>
                </div>
                <div>
                    <span class="extra-small">Engine</span>
                    <%= f.fields_for(:car) { |cf| cf.text_field(:engine_size, style: 'width: 64%') } %>
                </div>
            </td>
        </tr>
    </table>
    <table class="ctable" cellpadding="0" cellspacing="0" style="border-left: none;">
        <tr>
            <th>Hours</th>
            <th>Job Description</th>
            <th>Total</th>
        </tr>
        <%= f.fields_for(:workorder_jobs) do |woj| %>
        <tr>
            <td width="20%"><%= woj.text_field(:hours, class: 'num hours-total') %></td>
            <td width="59%"><%= woj.fields_for(:job) { |jf| jf.text_field(:name) } %></td>
            <td width="20%"><%= woj.text_field(:total, class: 'num labor-total') %></td>
        </tr>
        <% end %>
        <tr>
            <td colspan="2" class="full">
                <table cellpadding="0" cellspacing="0" class="plain">
                    <tr>
                        <th width="32%"></th>
                        <th width="15%"></th>
                        <th width="19%"></th>
                        <th width="24%"></th>
                    </tr>
                    <tr>
                        <td class="xx-small sub-cell" style="padding-right: 0">MISC. Supplies</td>
                        <td class="bl" style="padding: 0 3px;"><%= f.text_field(:misc_supplies, class: 'num part-of-total') %></td>
                        <td class="bl"></td>
                        <td class="xx-small num bl sub-cell">Labor Only</td>
                    </tr>
                    <tr>
                        <td class="xx-small bt sub-cell" style="padding-right: 0">Sublet Repairs</td>
                        <td class="bl bt" style="padding: 0 3px;"><%= f.text_field(:sublet_repairs, class: 'num part-of-total') %></td>
                        <td class="bl bt"></td>
                        <td class="xx-small num bl bt sub-cell">Parts</td>
                    </tr>
                    <tr>
                        <td class="xx-small bt sub-cell" style="padding-right: 0">Paid In Advance</td>
                        <td class="bl bt" style="padding: 0 3px;"><%= f.text_field(:paid_in_advance, class: 'num') %></td>
                        <td class="bl bt"></td>
                        <td class="xx-small num bl bt sub-cell">Tax</td>
                    </tr>
                    <tr>
                        <td class="extra-small bt pad shaded sub-cell" style="height: 22px;" colspan="3">
                            <div style="height: 41px">Authorized By</div>
                        </td>
                        <td class="num bl bt sub-cell shaded" style="font-size: 18px;font-weight: bold;">Total</td>
                    </tr>
                </table>
            </td>
            <td class="extra-small num full">
                <table cellpadding="0" cellspacing="0" class="plain">
                    <tr>
                        <td style="padding: 0 3px;"><%= f.text_field(:labor_total, class: 'num part-of-total') %></td>
                    </tr>
                    <tr>
                        <td class="bt" style="padding: 0 3px;"><%= f.text_field(:parts_total, class: 'num part-of-total') %></td>
                    </tr>
                    <tr>
                        <td class="bt" style="padding: 0 3px;"><%= f.text_field(:tax_total, class: 'num part-of-total') %></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bt" style="padding: 0 3px;font-size: 18px;height: 41px"><%= f.text_field(:total, class: 'num') %></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="reset"></div>
<div class="fl xxx-small pt5" style="width: 34%;text-align: justify;padding-right: 13px;">
    I hereby authorize the above repair work to be done along with the necessary material and herby grant you and/or
    your employees permission to operate the car, truck or vehicle herein described on sreet, highways or elsewhere
    for the purpose of testing and/or inspection. An express mechanic's lien is hereby acknowledged on above car,
    truck or vehicle to secure the amount of repairs thereto.
</div>

<div class="fl xxx-small pt5" style="width: 35%;text-align: justify;">
    Any warranties on the products sold hereby are those made by the manufacturer, the seller (above named dealership
    or mechanic) hereby expressly disclaim all warranties, either express or implied, including any implied warranty
    of mechant-ability or fitness for a particular purpose, and neither assumes nor authorizes any other person to
    assume for it any liability in connection with the sale of said products.
</div>
<div class="fr shaded bb" style="border-right: 1px solid #666;width: 80px">
    <div class="num shaded" style="height: 42px;padding-right: 3px;"><%= f.text_field(:balance_due, class: 'num table-input', style: 'margin-top: 8px;') %></div>
</div>
<div class="fr shaded" style="border: 1px solid #666; border-top: none;">
    <div class="num shaded" style="font-size: 13px;font-weight: bold; padding: 10px 3px 10px 0;width:81px;height: 22px;">Balance
        Due
    </div>
</div>