<div class="head-under fl">Work Orders</div>
<%= link_to 'New Work Order', my_new_wo_path, class: 'fl ml10' if can?(:create, Workorder) %>
<div class="reset"></div>
<% if @workorders.any? %>
    <%= render_paging %>
    <table cellpadding="5" cellspacing="0" class="nice">
      <tr>
        <th style="width: 10%">Date</th>
        <th>Customer</th>
        <th>Description</th>
        <th>Cost</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @workorders.each do |workorder| %>
          <tr>
            <td><%= link_to workorder.date, edit_my_wo_path(workorder) %></td>
            <td><%= workorder.customer.try(:name) || '[None]' %></td>
            <td><%= workorder.jobs.map(&:name).join(', ') %></td>
            <td><%= "$#{workorder.total.to_f}" %></td>
            <td><%= link_to((current_user.luna? ? 'Edit' : 'View'), edit_my_wo_path(workorder)) %></td>
            <td><%= link_to 'PDF', workorder_path(workorder, format: :pdf) %></td>
            <td>
              <% if can?(:destroy, workorder) %>
                  <%= link_to 'Delete', my_wo_path(workorder), data: {confirm: 'Are you sure you want to delete this Work order?'}, method: :delete, class: 'delete' %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <% if @car %>
          <tr class="total-row">
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td><%= "$#{@total.round(2)}" %></td>
            <td></td>
            <td></td>
          </tr>
      <% end %>
    </table>
    <br />
    <p style="text-align: center; color: #66B7E7; font-size: 18px"><a href="#top">Top</a></p>
<% else %>
    <br/>
    <p><span class="noneyet">This car has no work orders </span></p>
<% end %>