<div class="mb10">
  <%= link_to 'Work Orders', car_workorders_path(@car) %>
  <%= link_to 'Edit', edit_workorder_path(@workorder) %>
</div>
<div style="border: 2px solid black; padding: 20px;background-color: #E6E6FA;" class="alert">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="4" align="center">
        <span style="font-size: 29px; color: navy;">Work Order Summary</span>
      </td>
    </tr>
    <tr>
      <td colspan="4" align="left" style="font-size: 15px;"><%= @workorder.car.customer.first_name+' '+@workorder.car.customer.last_name %></td>
    </tr>
    <tr>
      <td colspan="4" align="left" style="font-size: 15px;"><%= @workorder.date %></td>
    </tr>
    <tr>
      <th style="width:25%"></th>
      <th style="width:25%"></th>
      <th style="width:35%"></th>
      <th style="width:15%"></th>
    </tr>
    <tr style="background-color:#F0F8FF;">
      <td valign="top">
        <div>
          <table cellspacing="0" cellpadding="4" width="100%" class="chah">
            <tr>
              <th colspan="2" style="border-bottom: #003163 1px solid; border-left: #003163 1px solid; border-top: #003163 1px solid;">
                <p style="font-size: 18px; color: navy; text-align: center">Vehicle Info</p>
              </th>
            </tr>
            <tr>
              <th align="left" style="border-bottom: #003163 1px solid; border-left: #003163 1px solid; border-right: #003163 1px solid;">Vehicle</th>
              <td style="border-bottom: #003163 1px solid;  border-right: 1px solid #003163;">
                <% unless  @workorder.car_id.nil? || @workorder.car_id == 0 %>
                    <%= @workorder.car.car_make+' '+@workorder.car.car_model %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th align="left" style="border-bottom: #003163 1px solid; border-left: #003163 1px solid; border-right: #003163 1px solid;">Year</th>
              <td style="border-bottom: #003163 1px solid; border-right: #003163 1px solid;"><%= @workorder.car.year %> </td>
            </tr>
            <tr>
              <th align="left" style="border-bottom: #003163 1px solid; border-left: #003163 1px solid; border-right: #003163 1px solid;">VIN
                Number
              </th>
              <td style="border-bottom: #003163 1px solid; border-right: #003163 1px solid;"><%= @workorder.car.vin_number %> </td>
            </tr>
            <tr>
              <th align="left" style="border-bottom: #003163 1px solid; border-left: #003163 1px solid; border-right: #003163 1px solid;">Engine
                Size
              </th>
              <td style="border-bottom: #003163 1px solid; border-right: #003163 1px solid;"><%= @workorder.car.engine_size %> </td>
            </tr>
            <tr>
              <th align="left" style="border-bottom: #003163 1px solid; border-left: #003163 1px solid; border-right: #003163 1px solid;">Odometer</th>
              <td style="border-bottom: #003163 1px solid; border-right: #003163 1px solid;"><%= @workorder.odometer %> </td>
            </tr>
          </table>
        </div>
      </td>
      <td valign="top">

        <table cellspacing="0" cellpadding="4" width="100%">
          <tr>
            <th style="border-bottom: 1px solid #003163; border-top: 1px solid #003163">
              <p style="font-size: 18px; color: navy; text-align: center">Materials</p>
            </th>
          </tr>
          <tr>
            <td style="text-align: center">
              <div style="border: #003163 1px solid;">
                <ul class="chah">
                  <%= raw materials_list(@workorder.materials) %>
                </ul>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td valign="top">
        <div>
          <table cellspacing="0" cellpadding="4" width="100%">
            <tr>
              <th style="border-bottom: #003163 1px solid; border-top: #003163 1px solid;">
                <p style="font-size: 18px; color: navy; text-align: center">Instructions</p>
              </th>
            </tr>
            <td>
              <div class="chah" style="border: #003163 1px solid; padding: 5px">
                <%= @workorder.details %>
              </div>
            </td>
          </table>
        </div>
      </td>
      <td valign="top">
        <div>
          <table cellspacing="0" cellpadding="4" width="100%" class="chah">
            <tr>
              <th colspan="2" style="border-bottom: 1px solid #003163; border-right: 1px solid #003163; border-top: 1px solid #003163;">
                <p style="font-size: 18px; color: navy; text-align: center">Costs</p>
              </th>
            </tr>
            <tr>
              <th align="left" style="border-bottom: 1px solid #003163; border-right: 1px solid #003163; border-left: 1px solid #003163">Parts</th>
              <td align="left" style="border-bottom: 1px solid #003163; border-right: 1px solid #003163;"><%= "$"+@workorder.parts unless @workorder.parts.empty? %></td>
            </tr>
            <th align="left" style="border-bottom: 1px solid #003163; border-right: 1px solid #003163; border-left: 1px solid #003163">Labor</th>
            <td align="left" style="border-bottom: 1px solid #003163; border-right: 1px solid #003163;"><%= "$"+@workorder.labor unless @workorder.labor.empty? %></td>
            <tr>
              <th align="left" style="width:30%; border-bottom: 1px solid #003163; border-right: 1px solid #003163; border-left: 1px solid #003163">Tax</th>
              <td align="left" style="width:70%; border-bottom: 1px solid #003163; border-right: 1px solid #003163;"><%= "$"+@workorder.tax unless @workorder.tax.empty? %></td>
            </tr>
            <tr>
              <th align="left" style="border-bottom: 1px solid #003163; border-right: 1px solid #003163; border-left: 1px solid #003163">Total</th>
              <td align="left" style="border-bottom: 1px solid #003163; border-right: 1px solid #003163;"><%= "$"+@workorder.total unless @workorder.total.empty? %></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
<%#= link_to 'Print this page', {:controller => "workorders", :action => "printable", :id => @workorder.id} %>

