<%= form_for(@customer) do |f| %>
	<%= errors_for(@customer) %>

	<div class="fl pb10" style="height: 100px">
		<div class="box">
			<p><b>Name</b></p>
			<%= f.text_field :name, style: 'width: 150px' %>
		</div>
	</div>

	<div class="fl pb10" style="height: 100px">
		<div class="box">
			<p><b>Address</b></p>
			<%= f.text_field :street, placeholder: 'Street', style: 'width: 200px' %>
			<div class="pt5">
				<%= f.text_field :city_state, placeholder: 'City, State', style: 'width: 200px' %>
			</div>
		</div>
	</div>

	<div class="fl pb10" style="height: 100px">
		<div class="box">
			<p><b>Phone number</b></p>
			<%= f.text_field :phone_number, style: 'width: 120px' %>
		</div>
	</div>

	<div class="fl pb10" style="height: 100px">
		<div class="box">
			<p><b>Cell number</b></p>
			<%= f.text_field :cell_number, style: 'width: 120px' %>
		</div>
	</div>

	<div class="fl pb10" style="height: 100px">
		<div class="box">
			<p><b>Email</b></p>
			<%= f.text_field :email, style: 'width: 200px' %>
		</div>
	</div>

	<div class="c"></div>

	<div class="actions">
		<%= f.submit %>
		<%= link_to 'Cancel', (@customer.id.nil? ? customers_path : customer_path(@customer)) %>
	</div>
<% end %>
