<%= link_to 'Edit', edit_customer_path(@customer) %>
<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @customer.phone_number %>
</p>
<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>
<p>
  <b>Cell number:</b>
  <%= @customer.cell_number %>
</p>