<%= render 'header' %>
<div class="box fl">
  <p><b>Name</b></p>
  <%= @customer.name %>
</div>

<div class="box fl">
  <p><b>Address</b></p>
  <%= @customer.street.present? ? "#{@customer.street} <br />".html_safe : '' %>
  <%= @customer.city_state %>
</div>

<div class="box fl">
  <p><b>Phone number</b></p>
  <%= @customer.phone_number %>
</div>

<div class="box fl">
  <p><b>Cell number</b></p>
  <%= @customer.cell_number %>
</div>

<div class="box fl">
  <p><b>Email</b></p>
  <%= @customer.email %>
</div>
<div class="c"></div>
