<%= link_to 'Edit', edit_customer_path(@customer) if can?(:update, @customer) %>
<% if @customer.user %>
    <%= link_to('Delete User Account', user_path(@customer.user), data: {confirm: "Are you sure you want to delete their user account?"}, method: :delete, class: 'delete') if can?(:destroy, User) %>
<% else %>
    <%= link_to 'Make User', new_user_path(customer_id: @customer) if can?(:create, User) %>
<% end %>
<% if can?(:destroy, @customer) %>
    <%= link_to 'Delete', customer_path(@customer), data: {confirm: "Are you sure you want to delete #{@customer.first_name}?"}, method: :delete, class: 'delete' %>
<% end %>
<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @customer.phone_number %>
</p>
<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>
<p>
  <b>Cell number:</b>
  <%= @customer.cell_number %>
</p>