<%= form_for([@customer, @car]) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being added:</h2>

      <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :customer_id %><br/>
    <%= f.select(:customer_id, Customer.all.map{ |custmr| [custmr.name, custmr.id]}, prompt: '------ CUSTOMER SELECTION ------' )  %>
  </div>
  <div class="field">
    <%= f.label :year_make_model, 'Year<span class="spacer">&sdot;</span>Make<span class="spacer">&sdot;</span>Model'.html_safe %><br />
    <%= f.text_field :year_make_model %>
  </div>
  <div class="field">
    <%= f.label :engine_size %><br />
    <%= f.text_field :engine_size %>
  </div>
  <div class="field">
    <%= f.label :vin_number %><br />
    <%= f.text_field :vin_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Cancel', (@car.id.nil? ? my_cars_path : my_car_path(@car)) %>
  </div>
<% end %>
