<%= link_to 'Edit', my_edit_car_path %>
<%= link_to 'Delete', my_car_path, data: {confirm: "Are you sure you want to delete this #{@car.car_make}? All work orders for this car will also be deleted!"}, method: :delete, class: 'delete' %>
<%= link_to "Work Orders (#{@car.workorders.count})", car_workorders_path(@car) %>
<%= link_to 'New Work Order', new_car_workorder_path(@car) %>
<p>
  <b>Car make:</b>
  <%= @car.car_make %>
</p>

<p>
  <b>Car model:</b>
  <%= @car.car_model %>
</p>

<p>
  <b>Year:</b>
  <%= @car.year %>
</p>

<p>
  <b>Engine size:</b>
  <%= @car.engine_size %>
</p>

<p>
  <b>Vin number:</b>
  <%= @car.vin_number %>
</p>