<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= Constants::NAME %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head if content_for?(:head) %>
</head>
<body>
<div>
  <header>
    <a name="top" style="padding: 0"></a>

    <h1 class="header"><%= Constants::NAME %></h1>
  </header>
  <div id="out">
    <% set_customer_mode %>
    <%= main_nav_links(in_customer_mode) %>
    <% if in_customer_mode %>
        <div class="customer-menu">

          <%= content_tag(:span, class: 'customer-actions') do %>
              <%= tab_link_to(@customer.name, customer_path(@customer), controller_name == 'customers') %>
              <%= tab_link_to('Cars', customer_cars_path(@customer), request.path =~ /(cars|cars\/new)\z/) %>
              <% @customer.cars.reject(&:new_record?).slice(0, 5).each do |car| %>
                  <%= tab_link_to(car.name, customer_car_path(@customer, car), request.path =~ Regexp.new("cars/#{car.id}")) %>
              <% end %>
          <% end %>
        </div>

    <% end %>

    <div id="container">
      <%= flash_message_helper %>
      <div class="pl10 pr10">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>