<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= Constants::NAME %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <a name="top"></a>

  <p class="head-er"><%= Constants::NAME %></p>

  <div id="out">
    <% set_customer_mode %>
    <div class="customer-actions customer-mode">
      <%= link_to('Customers', customer_path(@customer), class: "#{'active' if controller_name != 'users'}") %>
      <%= link_to('Change Email / Password', edit_user_path(current_user), class: "#{'active' if controller_name == 'users'}") %>
      <%= link_to('Log out', logout_path, style: 'margin-right: 0;') %>
    </div>
    <% if in_customer_mode %>
        <div class="customer-menu">

          <%= content_tag(:span, class: 'customer-actions') do %>
              <%= link_to(@customer.full_name, customer_path(@customer), class: "#{'active' if controller_name == 'customers'}") %>
              <%= link_to('Cars', customer_cars_path(@customer), class: "#{'active' if request.path =~ /(cars|cars\/new)\z/}") %>
              <% @customer.cars.reject(&:new_record?).slice(0, 3).each do |car| %>
                  <%= link_to(car.name, customer_car_path(@customer, car), class: "#{'active' if request.path =~ Regexp.new(car.id.to_s)}") %>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <div id="container">
      <%= flash_message_helper %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>