<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= Constants::NAME %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <a name="top"></a>

  <p class="head-er"><%= Constants::NAME %></p>

  <div id="out">
    <div id="container">
      <%= flash_message_helper %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>